.moviesCardList {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(4, 231px);
    row-gap: 60px;
    column-gap: 30px;
    margin-bottom: 78px;
    position: relative;
    justify-content: center
}
.moviesCardList__movies {
    text-align: center;
    margin-bottom: 159px;
}
.moviesCardList__more {
    background-color: #2F2F2F;
    color: #FFFFFF;
    width: 320px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    border-width: 0px;
    cursor: pointer;
}
.moviesCardList__more:hover{
    background-color:  #3DDC84;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}
@media all and (max-width: 12450px) {
    
    /* .moviesCardList :nth-child(1n+13) {
        display: none;
    } */
}
@media all and (max-width: 1171px) {
    .moviesCardList {
        grid-template-columns: repeat(2, 339px);
        grid-template-rows: repeat(4, 231px);
        row-gap: 47px;
        column-gap: 30px;
        margin-bottom: 62px;
        padding: 0 30px;
    }
    /* .moviesCardList :nth-child(1n+9) {
        display: none;
    } */
}

@media all and (max-width: 766px) {
    .moviesCardList {
        grid-template-columns: repeat(1, 300px);
        row-gap: 39px;
        margin: 0 auto 63px;
      
    }
    .moviesCardList :nth-child(1n+6) {
        display: none;
    } 
    .moviesCardList__more { 
        width: 240px;
    }
    .moviesCardList {
        padding: 0 10px;
    }

}
